[submodule "third_party/IsaacLab"]
	path = third_party/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "third_party/cyclonedds"]
	path = third_party/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
[submodule "third_party/robotis_dds_python"]
	path = third_party/robotis_dds_python
	url = https://github.com/ROBOTIS-GIT/robotis_dds_python.git
